<div class="login-form-container">

  <fa-icon [icon]="faTimes" (click)="closeLoginFormClick()" id="close-login-form" class="fas fa-times"></fa-icon>

  <form [formGroup]="loginForm" action="">
      <h3>user login</h3>
      <input formControlName="email" type="email" placeholder="email" class="box">
      <input formControlName="password" type="password" placeholder="password" class="box">
      <input (click)="login()" type="submit" value="login" class="btn">
      <p> don't have an account <a>create one</a> </p>
  </form>

</div>
