<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>our branches</h3>
            <a href="#"> <fa-icon [icon]="faMapMaker" class="fas fa-map-marker-alt"></fa-icon> india </a>
            <a href="#"> <fa-icon [icon]="faMapMaker" class="fas fa-map-marker-alt"></fa-icon> japan </a>
            <a href="#"> <fa-icon [icon]="faMapMaker" class="fas fa-map-marker-alt"></fa-icon> france </a>
            <a href="#"> <fa-icon [icon]="faMapMaker" class="fas fa-map-marker-alt"></fa-icon> russia </a>
            <a href="#"> <fa-icon [icon]="faMapMaker" class="fas fa-map-marker-alt"></fa-icon> USA </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <fa-icon [icon]="faArrowRight" class="fas fa-arrow-right"></fa-icon> home </a>
            <a href="#"> <fa-icon [icon]="faArrowRight" class="fas fa-arrow-right"></fa-icon> vehicles </a>
            <a href="#"> <fa-icon [icon]="faArrowRight" class="fas fa-arrow-right"></fa-icon> services </a>
            <a href="#"> <fa-icon [icon]="faArrowRight" class="fas fa-arrow-right"></fa-icon> featured </a>
            <a href="#"> <fa-icon [icon]="faArrowRight" class="fas fa-arrow-right"></fa-icon> reviews </a>
            <a href="#"> <fa-icon [icon]="faArrowRight" class="fas fa-arrow-right"></fa-icon> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <fa-icon [icon]="faPhone" class="fas fa-phone"></fa-icon> +123-456-7890 </a>
            <a href="#"> <fa-icon [icon]="faPhone" class="fas fa-phone"></fa-icon> +111-222-3333 </a>
            <a href="#"> <fa-icon [icon]="faEnvelope" class="fas fa-envelope"></fa-icon> shaikhanas@gmail.com </a>
            <a href="#"> <fa-icon [icon]="faMapMaker" class="fas fa-map-marker-alt"></fa-icon> mumbai, india - 400104 </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <fa-icon [icon]="faFacebook" class="fab fa-facebook-f"></fa-icon> facebook </a>
            <a href="#"> <fa-icon [icon]="faTwitter" class="fab fa-twitter"></fa-icon> twitter </a>
            <a href="#"> <fa-icon [icon]="faInstagram" class="fab fa-instagram"></fa-icon> instagram </a>
            <a href="#"> <fa-icon [icon]="faLinkedin" class="fab fa-linkedin"></fa-icon> linkedin </a>
            <a href="#"> <fa-icon [icon]="faPinterest"class="fab fa-pinterest"></fa-icon> pinterest </a>
        </div>

    </div>


</section>