<div class="row mt-3">
  <div class="col-md-7">
    <div id="carousel" class="carousel slide">
      <div class="carousel-inner">
        <div
          *ngFor="let carImage of carImages"
          [class]="getCurrentImageClass(carImage)"
        >
          <img [src]="getCarImageUrl(carImage)" alt="kys" />
        </div>
        <div *ngIf="carImages.length > 1">
          <button
            class="carousel-control-prev"
            (click)="getPreviousImage()"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            (click)="getNextImage()"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 ps-5">
    <div>
      <table *ngIf="detailsLoaded" class="table table-striped">
        <tr>
          <th scope="col">CarId</th>
          <td>{{ carDetail.carId }}</td>
        </tr>
        <tr>
          <th scope="col">CarName</th>
          <td>{{ carDetail.carName }}</td>
        </tr>
        <tr>
          <th scope="col">BrandName</th>
          <td>{{ carDetail.brandName }}</td>
        </tr>
        <tr>
          <th scope="col">ColorName</th>
          <td>{{ carDetail.colorName }}</td>
        </tr>
        <tr>
          <th scope="col">DailyPrice</th>
          <td>{{ carDetail.dailyPrice }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Rent Start Date</span>
    <input
      type="datetime-local"
      [value]="getDateTimeNow()"
      [min]="getDateTimeNow()"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="col input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Rent End Date</span>
    <input
      type="datetime-local"
      [value]="getDateTimeNow()"
      [min]="getDateTimeNow()"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="d-grid">
      <button routerLink="/rental/payment"
       class="btn btn-primary" type="button">+Rent</button>
    </div>
  </div>
</div>
