<section *ngIf="detailsLoaded" class="car-details-container">
  <div class="row">
    <div class="col-md-8">
      <app-car-detail-swipper [carDetail]="carDetail"></app-car-detail-swipper>
    </div>
    <div class="col ms-5 ps-5">
      <div class="row">
        <div class="car-info-box">
          <h1>{{ carDetail.brandName }}</h1>
          <span>{{ carDetail.carName }}</span>
          <div class="car-info-element">
            Color : <a> {{ carDetail.colorName }} </a>
          </div>
          <div class="car-info-element">
            Model Year : <a> {{ carDetail.modelYear }} </a>
          </div>
          <div class="car-info-element">
            Daily Price :
            <a> {{ carDetail.dailyPrice | currency: "TRY":"₺":"1.2" }} </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="rental-info-box">
          <div class="mb-3">
            <label for="rentStartDate">Rent Start Date</label>
            <input
              id="rentStartDate"
              type="datetime-local"
              class="form-control"
              [min]="getDateTimeNow()"
              [value]="getDateTimeNow()"
            />
          </div>
          <div class="my-3">
            <label for="rentEndDate">Rent End Date</label>
            <input
              id="rentEndDate"
              type="datetime-local"
              class="form-control"
              [min]="addDayToCurrentDay()"
              [value]="addDayToCurrentDay()"
            />
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-8">
              <div class="row">
                <a class="btn">Rent</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
