* {
    overflow-x: hidden;
    word-wrap: break-word;
  
    .carousel-inner {
        width: 640px;
        height: 360px;
        .carousel-item.active img {
          margin: auto;
          display: block;
          width: 640px;
          //   max-width: 640px;
          height: 360px;
          //   max-height: 360px;
        }
      }
  }

  .input-group-text {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}