@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

$yellow:#f9d806;
$light-yellow:#ffee80;
$black:#130f40;
$light-color:#666;
$box-shadow:0rem .5rem 1rem rgba(255, 238, 0, 0.555);
$border:.1rem solid rgba(0,0,0,.1);



.vehicles .vehicles-slider{
    padding-bottom: 5rem;
    box-shadow: $box-shadow;
    width: 100%;
    height: 600px;
}

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box .image-container{
    width: 100%;
    height: 600px;
}

.vehicles .vehicles-slider .box img{
    object-position: center;
    object-fit: cover;
    width:100%;
    height:100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content{
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1.15);    
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3{
    font-size: 2.5rem;
    color:$black;
}

.vehicles .vehicles-slider .box .content .price{
    font-size: 2.2rem;
    color:$yellow;
    padding:1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    color:$light-color;
    font-size: 1.5rem;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    font-size: 1.6rem;
    color:$light-color ;
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: $border;
    
}

.fas.fa-circle{
    color:$yellow ;
    font-size: 1rem;
    padding:0 .5rem;
    
}

.vehicles .vehicles-slider .box .content span{
    font-size: 1rem;
    color:$yellow;
    padding:0 .5rem;
}

.swiper-pagination-bullet-active{
    background: $yellow;
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}