<div class="vehicles" id="vehicles">
  <swiper
    
    [centeredSlides]="true"
    [spaceBetween]="30"
    [grabCursor]="true"
    [pagination]="{
      clickable: true
    }"
    [loopFillGroupWithBlank]="true"
    class="vehicles-slider"
  >
    <ng-template *ngFor="let carImage of carImages" swiperSlide class="box">
      <div class="image-container">
        <img
          [src]="getCarImageUrl(carImage)"
          class="card-img-top"
          role="button"
          alt="kys"
        />
      </div>
    </ng-template>
  </swiper>
</div>
