<div class="row">
  <div *ngFor="let carDetail of carsDetails" class="col-md-4">
    <div class="card" style="width: 18rem">
      <img
        [src]="getCarThumbnailUrl(carDetail.carId)"
        class="card-img-top"
        role="button"
        routerLink="/cardetails/{{carDetail.carId}}"
        alt="kys"
      />
      <div class="card-body">
        <h5 class="card-title">{{ carDetail.carName }}</h5>
        <a class="btn btn-primary">Incele</a>
      </div>
    </div>
  </div>
</div>
<!-- <table class="table">
    <thead>
        <tr>
            <th>Araç Adı</th>
            <th>Markası</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
        </tr>
    </thead>
  <tr *ngFor="let carDetail of carDetails">
    <td>{{carDetail.carName}}</td>
    <td>{{carDetail.brandName}}</td>
    <td>{{carDetail.colorName}}</td>
    <td>{{carDetail.dailyPrice}}</td>
  </tr>
</table> -->
